#!/bin/ash
sendRequest() {
    timeout 1 /app/control/mcrcon -s -H localhost -p password -P 23456 "$@"
}

sendCommand() {
    command="$*"
    /app/control/mcrcon -H localhost -p password -P 23456 "$command"
}

op() {
    sendCommand "op $*"
}

ping() {
    sendRequest "list"
}

stop() {
    sendRequest "stop"
}

case $1 in
ping)
    ping
    ;;
stop)
    stop
    ;;
op)
    op "${@:3}"
    ;;
command)
    sendCommand "${@:8}"
    ;;
*)
    echo "Not enough arguments!"
    echo "Usage : control <command/op/ping/stop> [command/username]"
    ;;
esac
